@media screen and (max-width: 600px) {
    .modal-container {
        position: absolute;
        display: flex;
        align-items: flex-end;

        width: 100%;
        height: 100%;
    }

    .modal-cart {
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
        border-radius: 10px;
        padding: 20px;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        /* Colors */
        --red: #c73a0f;
    }

    .container-body {
        display: grid;
        grid-template-columns: 3(1fr);
        grid-row: 3(1fr);
        padding: 60px 100px;
    }

    header {
        grid-column: 1 / 3;
        grid-row: 1;

        padding: 0 15px 20px;
    }

    h1 {
        font-size: 2rem;
    }

    .products-area {
        grid-column: 1 / 2;
        row-gap: 2 / 3;

        padding: 0px;
    }

    .product-item {
        width: 200px;
    }

    .product-item .addCart {
        left: 20%;

        width: 120px;
        height: 30px;

        font-size: 0.62rem;

        transition: .2s;
    }

    .product-item .addCart>svg {
        width: 15px;
        height: 15px;
    }

    .counter {
        left: 20%;

        width: 120px;
        height: 30px;

        font-size: 0.31rem;
    }

    .increment,
    .decrement {
        width: 10px;
        height: 12px;
    }

    .increment:hover > svg path {
        fill: var(--red);
    }

    .decrement:hover > svg path {
        fill: var(--red);
    }

    .increment:hover svg, .decrement:hover svg {
        background-color: white;
    }

    .counter svg {
        height: 12px;
        width: 12px;

        transition: 0.1s;
    }

    .quantity {
        color: white;
        font-size: 10px;
    }

    .product-item .product-category {
        color: var(--rose500);
        font-size: 0.68rem;
        font-weight: 400;
        margin-top: 20px;
    }
    
    .product-item h2 {
        margin-top: 4px;
        color: var(--rose900);
        font-size: 0.75rem;
        font-weight: 650;
    }
    
    .product-item strong {
        display: block;
        color: var(--red);
        font-size: 0.75rem;
        font-weight: 650;
        margin-top: 4px;
        margin-bottom: 25px;
    }

    .cart-container {
        grid-column: 3;
        grid-row: 1 / 3;

        padding-left: 10px;
    }

    .cart {
        width: 300px;
        padding: 20px;
    }
    
    .cart h2 {
        font-size: 1.12rem;
        margin-bottom: 15px;
    }
    
    .cart .empty img {
        width: 100px;
        margin-top: 40px;
    }
    
    .cart .empty p {
        font-size: 0.75rem;
        text-align: center;
        margin: 10px 0 5px;
    }
    
    .item-name {
        font-size: 0.62rem;
        font-weight: 650;
        margin: 10px 0 0;
    }
    
    .item-quantity {
        font-size: 10px;
        padding-right: 10px;
    }
    
    .item-price {
        color: var(--rose500);
        font-size: 0.62rem;
        padding-right: 5px;
    }
    
    .item-total-price {
        font-size: 0.62rem;
        margin-bottom: 10px;
    }
    
    .cart-item .remove-cart {
        position: absolute;
        right: 0;
        top: 20%;
    
        cursor: pointer;
        
        background: none;
        border: none;
    }
    
    .cart-item .remove-cart > svg {
        height: 12px;
        width: 12px;
        padding: 1px;
        border: 1.5px solid var(--rose300);

        transition: 0.1s;
    }

    .cart-item .remove-cart:hover > svg path {
        fill: black;
    }

    .cart-item .remove-cart:hover > svg {
        border: 1.5px solid black;
    }
    
    .cart .total {
        font-size: 0.68rem;
        margin-top: 15px;
    }
    
    .total strong {
        font-size: 1.12rem;
    }
    
    .ecology {
        font-size: 0.62rem;
        padding: 10px;
        margin: 20px 0 20px;
    }
    
    .ecology svg {
        vertical-align: middle;
        width: 17px;
        padding-right: 1px;
    }
    
    .cart .confirm-order-btn {
        color: white;
        background-color: var(--red);
        font-size: 0.75rem;
        font-weight: 450;
        width: 100%;
        padding: 10px;
        cursor: pointer;
        border: none;
        border-radius: 40px;

        transition: .2s;
    }

    .cart .confirm-order-btn:hover {
        background-color: #952c0c;
    }

    .modal-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;
    }

    .modal-cart {
        position: relative;
        top: -75px;
        width: 480px;
        height: auto;
        line-height: normal;
        border-radius: 10px;
        padding: 20px;
    }

    .modal-cart svg {
        width: 32px;
    }

    .modal-cart h2 {
        font-size: 1.87rem;
        line-height: normal;
        margin: 0px;
    }

    .modal-cart p {
        font-size: 0.75rem;
        margin-bottom: 20px;
    }

    .itens-ordered {
        padding: 16px;
        margin-bottom: 20px;
    }
    
    .item-ordered {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    .item-ordered img {
        width: 36px;
    }

    .item-ordered-data .item-ordered-name {
        font-size: 0.62rem;
        margin-bottom: 0px;
    }

    .item-ordered-data .item-ordered-quantity {
        font-size: 0.62rem;
        padding-right: 11px;
    }
    
    .item-ordered-data .item-ordered-price {
        font-size: 0.62rem;
    }

    .item-ordered-data .item-ordered-total-price {
        font-size: 0.75rem;
    }

    .itens-ordered .order-total {
        font-size: 0.62rem;
        margin: 15px 0 0;
    }
    
    .order-total .modal-total {
        font-size: 1.12rem;
    }

    .new-order {
        font-size: 0.75rem;
        padding: 10px;
        border-radius: 40px;
        margin-bottom: 0;

        transition: .1s;
    }

    .new-order:hover {
        background-color: #952c0c;
    }
}