@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    /* Colors */
    --red: #c73a0f;
    --green: #1ea475;
    --rose50: #fcf9f7;
    --rose100: #f4edeb;
    --rose300: #c9aea6;
    --rose400: #ad8985;
    --rose500: #87635a;
    --rose900: #260f08;

    /* Font */
    --font: "Red Hat Text", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--font);
    box-sizing: border-box;
}

body {
    background-color: var(--rose50);
    margin: 30px;
}

.models {
    display: none;
}

h1 {
    font-size: 40px;
    padding-bottom: 25px;
}

.desserts-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.dessert-item {
    width: 370px;
}

.dessert-item .dessert-img {
    width: 100%;
    border-radius: 10px;
}

.dessert-header {
    position: relative;
}

.dessert-item button {
    position: absolute;
    bottom: -5%;
    left: 25%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 155px;
    height: 42px;

    background-color: #fff;
    color: var(--rose900);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid var(--rose900);
}

.dessert-item button:hover {
    color: var(--red);
    border-color: var(--red);
}

svg {
    pointer-events: none;
}

.counter {
    position: absolute;
    bottom: -5%;
    left: 25%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 155px;
    height: 42px;

    color: white;
    background-color: var(--red);
    color: var(--rose900);
    padding: 13px 10px;
    border-radius: 50px;
}

.increment, .decrement {
    position: absolute;
    cursor: pointer;
    width: 15px;   
    height: 17px;
}

.increment {
    right: 10px;
}

.decrement {
    left: 10px;
}

.counter svg {
    padding: 2px;
    height: 15px;
    width: 15px;
    border: 1px solid white;
    border-radius: 50%;
}

.quantity {
    color: white;
    font-size: 12px;
}


.dessert-item .dessert-category {
    color: var(--rose500);
    font-weight: 400;
    margin-top: 25px;
}

.dessert-item h2 {
    margin-top: 4px;
    color: var(--rose900);
    font-size: 18px;
    font-weight: 650;
}

.dessert-item strong {
    display: block;
    color: var(--red);
    font-size: 18px;
    font-weight: 650;
    margin-top: 4px;
    margin-bottom: 25px;
}

.cart {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

.cart h2 {
    color: var(--red);
    margin-bottom: 20px;
}

.cart .empty img {
    display: block;
    margin-top: 20px;
    margin: auto;
}

.cart .empty p {
    color: var(--rose400);
    font-weight: 600;
    margin: 20px 0 20px;
}

.cart-item {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--rose100);
}

.cart-item h3 {
    font-size: 16px;
    font-weight: 650;
    margin-bottom: 10px;
}

.cart-item .item-quantity {
    color: var(--red);
    font-weight: 650;
    padding-right: 10px;
}

.cart-item .item-price {
    color: var(--rose500);
    padding-right: 5px;
}

.cart-item .item-total-price {
    display: inline-block;
    color: var(--rose500);
    font-weight: 600;
    margin-bottom: 30px;
}

.cart-item button {
    position: absolute;
    right: 0;
    top: 20%;

    background: none;
    border: none;
}

.cart-item > button svg {
    height: 20px;
    width: 20px;
    padding: 2px;
    border: 2px solid var(--rose300);
    border-radius: 50%;
}

.cart .total {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--rose900);
    font-weight: 450;
}

.total strong {
    font-size: 28px;
}

.ecology {
    background-color: var(--rose100);
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    margin: 25px 0 25px;
}

.ecology svg {
    vertical-align: bottom;
    padding-right: 1px;
}

.cart button {
    color: white;
    background-color: var(--red);
    font-size: 18px;
    font-weight: 450;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 40px;
}

.hide {
    display: none;
    visibility: hidden;
}